FoodDrinks/src/main/mule/drinks.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="searchCocktailsByName" doc:id="aa772b6d-f16c-4847-827d-47a3bf1df3b4" >
		<set-variable value="#[attributes.queryParams.cocktailByName]" doc:name="cocktailByName" doc:id="8a011b6e-ee6f-49ba-8542-e4763147aee3" variableName="cocktailByName" />
		<http:request method="GET" doc:name="GET /cocktailsByName" doc:id="380c82d9-01fd-45b9-9d5d-1ba165d99b28" config-ref="HTTP_Request_drinks_configuration" path="/search.php" >
			<http:query-params ><![CDATA[#[output application/java
---
{
	"s" : vars.cocktailByName
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="data to JSON" doc:id="42281178-aa06-41bb-be52-705f2ac1bba8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
fun findKey(key)
= key match {
  case is String -> key
  else -> "null"
}
---
drinks: payload.drinks map ( drink , indexOfDrink ) -> {
		"idDrink": drink.idDrink,
		"name": drink.strDrink,
		"DrinkAlternate": drink.strDrinkAlternate,
		"Tags": drink.strTags,
		"Video": drink.strVideo,
		"Category": drink.strCategory,
		"IBA": drink.strIBA,
		"Alcoholic": drink.strAlcoholic,
		"Glass": drink.strGlass,
		"Instructions": drink.strInstructions,
		"Recipe": {
			(findKey(drink.strIngredient1)): drink.strMeasure1,
			(findKey(drink.strIngredient2)): drink.strMeasure2,
			(findKey(drink.strIngredient3)): drink.strMeasure3,	
			(findKey(drink.strIngredient4)): drink.strMeasure4,
			(findKey(drink.strIngredient5)): drink.strMeasure5,
			(findKey(drink.strIngredient6)): drink.strMeasure6,	
			(findKey(drink.strIngredient7)): drink.strMeasure7
		},
		"ImageSource": drink.strImageSource,
		"ImageAttribution": drink.strImageAttribution,
		"CreativeCommonsConfirmed": drink.strCreativeCommonsConfirmed
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cd74031b-1d06-456d-9d36-3f06fb93238e" />
	</sub-flow>
	<sub-flow name="threeCategoryCocktails" doc:id="7ced9d43-a9e2-4176-92e7-7fefb155455c" >
		<set-variable value="#[message.attributes.queryParams.category]" doc:name="category" doc:id="a025f58c-591c-4111-9cf9-b92d78f19351" variableName="category" />
		<http:request method="GET" doc:name="GET /CocktailsbyCategory" doc:id="6d220a33-3d70-490e-8647-2fd51bf15c79" config-ref="HTTP_Request_drinks_configuration" path="/filter.php" >
			<http:query-params ><![CDATA[#[output application/java
---
{
	"c" : vars.category
}]]]></http:query-params>
		</http:request>
		<choice doc:name="Choice" doc:id="07655827-17bb-4155-a32d-666a6640343d" >
			<when expression='#[vars.category == "Cocktail"]'>
				<logger level="INFO" doc:name="Logger" doc:id="26e7d9bb-19af-46ea-a53d-7b10abdcfbaf" />
				<set-variable value='#["Seafood"]' doc:name="seafood" doc:id="6de4e311-3e03-49ba-96ae-d64551bf35af" variableName="seafood"/>
				<set-payload value="#[vars.seafood]" doc:name="varsSeafood" doc:id="446350b2-e96c-41b0-82f5-ea1d28100dc9" />
				<http:request method="GET" doc:name="GET /Seafood" doc:id="a1949be7-9ce2-422f-b157-65800abe758e" config-ref="HTTP_Request_food_configuration" path="/filter.php">
					<http:query-params ><![CDATA[#[output application/java
---
{
	"c" : vars.Seafood
}]]]></http:query-params>
				</http:request>
				<ee:transform doc:name="payload" doc:id="24c34b32-667a-4638-9cc2-c9447ba45822" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[vars.category == "Coffee / Tea"]'>
				<logger level="INFO" doc:name="Logger" doc:id="c41808c1-74d4-41a9-afc3-68d241e8a5d9" />
				<set-variable value='#["Dessert"]' doc:name="dessert" doc:id="78a966c9-f290-4074-b54d-a1dde43c6a24" variableName="dessert"/>
				<set-payload value="#[vars.dessert]" doc:name="varsDessert" doc:id="fa3e86cb-ac94-4380-bb75-cbae751c6da3" />
				<http:request method="GET" doc:name="GET /Dessert" doc:id="f6584916-d5c7-4f25-880e-518cfadfcb98" config-ref="HTTP_Request_food_configuration" path="/filter.php">
					<http:query-params ><![CDATA[#[output application/java
---
{
	"c" : vars.dessert
}]]]></http:query-params>
				</http:request>
				<ee:transform doc:name="payload" doc:id="008a2d38-56f1-4200-a613-44a8c2c09f64">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
					<ee:variables >
					</ee:variables>
				</ee:transform>
			</when>
			<when expression='#[vars.category == "Shot"]'>
				<logger level="INFO" doc:name="Logger" doc:id="ffbcd3cf-61a7-4dda-8d72-04800384960f" />
				<set-variable value='#["Beef"]' doc:name="beef" doc:id="a74b0cc9-f4a0-498a-9077-30f02e61496b" variableName="beef" />
				<set-payload value="#[vars.beef]" doc:name="varsBeef" doc:id="aa2ce0d3-889e-4d5b-a812-8754c942dcc2" />
				<http:request method="GET" doc:name="GET /Beef" doc:id="e143a29a-0c66-4363-937b-b26661c0a5b8" config-ref="HTTP_Request_food_configuration" path="/filter.php" >
					<http:query-params ><![CDATA[#[output application/java
---
{
	"c" : vars.beef
}]]]></http:query-params>
				</http:request>
				<ee:transform doc:name="payload" doc:id="30538a5c-61db-4992-9fbc-8c89043dd290" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
					<ee:variables />
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="03cf04b9-9cbf-4745-8962-67393982fc59" />
				<http:request method="GET" doc:name="randomCocktail" doc:id="a3bfa2ea-901a-4bd9-b5aa-53ffe8bd708f" config-ref="HTTP_Request_drinks_configuration" path="/random.php"/>
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="listOfAllCocktails" doc:id="8b8a26e7-e204-4782-b08a-edcbb40a4c32" >
		<logger level="INFO" doc:name="Logger" doc:id="ef72f982-c5c2-4397-b1a4-767c361417b5" />
		<set-variable value='#[["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"]]' doc:name="alfabet(A-Z)" doc:id="42174e90-4805-4422-aa56-16babf86b8fd" variableName="AZ" />
		<set-variable value="#[[]]" doc:name="varsLetter" doc:id="8677bdb2-399c-4e3d-9ef4-cd45f0f410cd" variableName="varsLetter" />
		<foreach doc:name="For Each Alfabet" doc:id="c6c05d44-0898-462d-9ab0-dcbf2928e5e5" collection="#[vars.AZ]" >
			<logger level="INFO" doc:name="Logger" doc:id="530f62e8-3eac-45ab-9c9d-5210e3924813" />
			<http:request method="GET" doc:name="GET /listCocktails" doc:id="f0882197-2646-45db-9dfe-7fc85e00cb5e" config-ref="HTTP_Request_drinks_configuration" path="/search.php" >
				<http:query-params ><![CDATA[#[output application/java
---
{
	"f" : payload
}]]]></http:query-params>
			</http:request>
			<ee:transform doc:name="payload" doc:id="4294d8d0-fb45-4fee-9a7a-23cdda93cc85" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0 
output application/json 
--- 
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="varsLetter" ><![CDATA[%dw 2.0
output application/java
---
vars.varsLetter + payload]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<ee:transform doc:name="varsletter" doc:id="fcb7f0f6-5145-42f2-9220-bfd6c740becb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.varsLetter]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="collectInOneList" doc:id="8402364c-c541-4ae4-8ef7-057a11a2f346" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(payload.drinks)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0adceb81-71a7-4e32-bc29-25964bea8dc1" />
	</sub-flow>
	<sub-flow name="listOfCategory" doc:id="a944583f-72bf-4f45-8912-d5ad47759d9a" >
		<set-variable value="#[message.attributes.queryParams.list]" doc:name="list" doc:id="9d5ec55a-0041-428f-8058-c1f20afccd1f" variableName="list"/>
		<http:request method="GET" doc:name="GET /listOfCategory" doc:id="03508da4-372c-4f5e-8d7d-5916254e1178" config-ref="HTTP_Request_drinks_configuration" path="/list.php">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"c" : vars.list
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="listOfAllCategory" doc:id="0e52e233-304f-4b0d-b07e-5a4b3558b2fd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
flatten(payload.drinks.strCategory)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="03e10803-5c48-4bf4-acda-a54806318dd2" />
	</sub-flow>
	<flow name="drinksFlow" doc:id="76367982-1748-4761-955e-0d894789717b" >
		<http:listener doc:name="Listener" doc:id="b3612b8e-4f68-4620-bb57-fb28b0cf6797" config-ref="HTTP_Listener_config" path="/randomThree"/>
		<set-variable value="#[[]]" doc:name="array" doc:id="f345b23a-227d-4090-82a8-92cd7190a61c" variableName="array" />
		<http:request method="GET" doc:name="Request" doc:id="0736db17-1b8c-4d78-9828-bf76d367b5f8" config-ref="HTTP_Request_drinks_configuration" path="/random.php"/>
		<ee:transform doc:name="Copy_of_data to JSON" doc:id="c4a3aa36-9e88-4720-943d-5150c04f58d2">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
fun findKey(key)
= key match {
  case is String -> key
  else -> "null"
}
---
drinks: payload.drinks map ( drink , indexOfDrink ) -> {
		"idDrink": drink.idDrink,
		"name": drink.strDrink,
		"DrinkAlternate": drink.strDrinkAlternate,
		"Tags": drink.strTags,
		"Video": drink.strVideo,
		"Category": drink.strCategory,
		"IBA": drink.strIBA,
		"Alcoholic": drink.strAlcoholic,
		"Glass": drink.strGlass,
		"Instructions": drink.strInstructions,
		"Recipe": {
			(findKey(drink.strIngredient1)): drink.strMeasure1,
			(findKey(drink.strIngredient2)): drink.strMeasure2,
			(findKey(drink.strIngredient3)): drink.strMeasure3,	
			(findKey(drink.strIngredient4)): drink.strMeasure4,
			(findKey(drink.strIngredient5)): drink.strMeasure5,
			(findKey(drink.strIngredient6)): drink.strMeasure6,	
			(findKey(drink.strIngredient7)): drink.strMeasure7
		},
		"ImageSource": drink.strImageSource,
		"ImageAttribution": drink.strImageAttribution,
		"CreativeCommonsConfirmed": drink.strCreativeCommonsConfirmed
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="4f11e595-34ad-4bdc-b4d0-63662598c122" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="array" ><![CDATA[%dw 2.0
output application/java
---
vars.array + payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="e4b2ce80-298c-4e8b-b2c6-0f9473cb3eeb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.array]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4269c2de-33a5-4bb3-ac0a-58e9c806e0ba" />
		<choice doc:name="Choice" doc:id="1620339a-896b-4688-a9cd-f4911f30bf30" >
			<when expression="#[sizeOf(vars.array) &lt; 3]">
				<flow-ref doc:name="Flow Reference" doc:id="0497b2b3-498e-4b57-bde4-e7d8671643c3" name="drinksFlow"/>
			</when>
			<when expression="#[sizeOf(vars.array1) == 3]">
				<logger level="INFO" doc:name="Logger" doc:id="c14f322d-3df5-44bf-adbe-170ef4241bfa" />
				<set-variable value='#["Category"]' doc:name="category" doc:id="ad4076fa-28be-4090-b86c-729f6e608af0" variableName="category"/>
				<choice doc:name="Choice" doc:id="21075ae8-30a4-4d5c-aea6-859e22437bb5" >
					<when expression="#[payload.drinks[0].Category == payload.drinks[1].Category]">
						<logger level="INFO" doc:name="Logger" doc:id="a93ffca8-1018-46f0-85aa-e34d6126a6e0" />
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="95435599-8cce-46a3-9fde-4a7618aa46f4" />
					</otherwise>
				</choice>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="a104bab5-e58f-451f-a5d6-6a77bee8ef8d" />
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="listOfIngridient" doc:id="7816ef9e-a5e2-4500-badb-fd7a5121d567" >
		<set-variable value="#[message.attributes.queryParams.listIngrid]" doc:name="listIngrid" doc:id="9b7464c4-c389-480a-92c8-0d4c58b0ebcc" variableName="listIngrid"/>
		<http:request method="GET" doc:name="GET /listOfIngridient" doc:id="1cda5948-9ab4-43a4-895f-6edc189a6fe6" config-ref="HTTP_Request_drinks_configuration" path="/list.php">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"i" : vars.listIngrid
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="listOfAllCategory" doc:id="235c2938-0ed3-45bf-9db6-b4935e905cf5">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
flatten(payload.drinks.strIngredient1)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="eb42ae1e-978f-4c4f-9e60-744178c61720" />
	</sub-flow>
	<sub-flow name="searchByIngridients" doc:id="f77ad222-5cbf-4213-ba1e-4ee95ada0691" >
		<set-variable value="#[message.attributes.queryParams.ingridient]" doc:name="ingridient" doc:id="5342b1c4-ddae-463a-a741-c932162dec5f" variableName="ingridient" />
		<http:request method="GET" doc:name="GET /ingridient" doc:id="59cd0483-9411-41b5-82ce-c7665ae39018" config-ref="HTTP_Request_drinks_configuration" path="/filter.php" >
			<http:query-params ><![CDATA[#[output application/java
---
{
	"i" : vars.ingridient
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="d1ec4a06-0dd8-49e9-94db-7a3c17cd1951" />
	</sub-flow>
	<sub-flow name="recipe" doc:id="4031a47f-146f-485c-97fa-6672d3e36cc4" >
		<flow-ref doc:name="searchCocktailsByName" doc:id="f38db36d-7949-49f4-abdf-3aa6eb3b69ad" name="searchCocktailsByName" />
		<logger level="INFO" doc:name="Logger" doc:id="d333e9b7-cc02-471f-9aad-811807bcadd0" />
		<ee:transform doc:name="ingridient and measure" doc:id="280ae952-20b5-44ea-b9fa-845c639afce7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="logger" doc:id="fb6ffa0d-13b7-4559-8355-dcbd2ebd1856" />
	</sub-flow>

</mule>
