FoodDrinks/src/main/mule/drinks.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<sub-flow name="searchCocktailsByName" doc:id="aa772b6d-f16c-4847-827d-47a3bf1df3b4" >
		<set-variable value="#[message.attributes.queryParams.cocktailByName]" doc:name="cocktailByName" doc:id="8a011b6e-ee6f-49ba-8542-e4763147aee3" variableName="cocktailByName" />
		<http:request method="GET" doc:name="GET /cocktailsByName" doc:id="380c82d9-01fd-45b9-9d5d-1ba165d99b28" config-ref="HTTP_Request_drinks_configuration" path="/search.php" >
			<http:query-params ><![CDATA[#[output application/java
---
{
	"s" : vars.cocktailByName
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="data to JSON" doc:id="42281178-aa06-41bb-be52-705f2ac1bba8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
fun findKey(key)
= key match {
  case is String -> key
  else -> "null"
}
---
drinks: payload.drinks map ( drink , indexOfDrink ) -> {
		"idDrink": drink.idDrink,
		"name": drink.strDrink,
		"DrinkAlternate": drink.strDrinkAlternate,
		"Tags": drink.strTags,
		"Video": drink.strVideo,
		"Category": drink.strCategory,
		"IBA": drink.strIBA,
		"Alcoholic": drink.strAlcoholic,
		"Glass": drink.strGlass,
		"Instructions": drink.strInstructions,
		"Recipe": {
			(findKey(drink.strIngredient1)): drink.strMeasure1,
			(findKey(drink.strIngredient2)): drink.strMeasure2,
			(findKey(drink.strIngredient3)): drink.strMeasure3,	
			(findKey(drink.strIngredient4)): drink.strMeasure4,
			(findKey(drink.strIngredient5)): drink.strMeasure5,
			(findKey(drink.strIngredient6)): drink.strMeasure6,	
			(findKey(drink.strIngredient7)): drink.strMeasure7
		},
		"ImageSource": drink.strImageSource,
		"ImageAttribution": drink.strImageAttribution,
		"CreativeCommonsConfirmed": drink.strCreativeCommonsConfirmed
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cd74031b-1d06-456d-9d36-3f06fb93238e" />
	</sub-flow>
	<flow name="drinksFlow" doc:id="dab40277-8c07-43b3-9fb5-8e1061424437" >
		<http:listener doc:name="Listener" doc:id="4da2e4a4-f3b0-42ba-87d3-2d5ca9ee20c5" config-ref="HTTP_Listener_config" path="/dailyMenu"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="246fa83f-542b-4e6b-8bb1-1bbbeade8ab7" >
			<route >
				<set-variable value='#["Homemade Liqueur"]' doc:name="homemadeLiqueur" doc:id="b41a5848-b190-424b-a86a-331e23dbc7a6" variableName="homemadeLiqueur"/>
				<set-payload value="#[vars.homemadeLiqueur]" doc:name="varsHomemadeLiqueur" doc:id="3818fc2e-0703-4e2c-8912-487bb7469087" />
				<http:request method="GET" doc:name="GET /drinkForMenu" doc:id="6374fd83-9dbf-4833-8705-1b6a59d3080d" config-ref="HTTP_Request_drinks_configuration" path="/filter.php">
					<http:query-params ><![CDATA[#[output application/java
---
{
	"c" : vars.homemadeLiqueur
}]]]></http:query-params>
				</http:request>
			</route>
			<route >
				<set-variable value='#["Punch / Party Drink"]' doc:name="punch/PartyDrink" doc:id="5f876fa0-7c1a-4952-ab92-770f27b9274b" variableName="punchPartyDrink"/>
				<set-payload value="#[vars.punchPartyDrink]" doc:name="varsPunchPartyDrink" doc:id="dd2c7198-40e5-4ef8-945a-e1aaaf794f60" />
				<http:request method="GET" doc:name="GET /drinkForMenu" doc:id="abaa586c-68ab-4334-8e3e-f4c915d05e91" config-ref="HTTP_Request_drinks_configuration" path="/filter.php" >
					<http:query-params ><![CDATA[#[output application/java
---
{
	"c" : vars.punchPartyDrink
}]]]></http:query-params>
				</http:request>
			</route>
			<route >
				<set-variable value='#["Shake"]' doc:name="shake" doc:id="0dec8e8b-0603-48d2-9ca5-432b205a4af4" variableName="shake"/>
				<set-payload value="#[vars.shake]" doc:name="varsShake" doc:id="36b55730-3b4c-4f1d-b9fd-244d9460ace9" />
				<http:request method="GET" doc:name="GET /drinkForMenu" doc:id="e23ddd77-3b10-4467-86ac-e2e1e050da4b" config-ref="HTTP_Request_drinks_configuration" path="/filter.php" >
					<http:query-params ><![CDATA[#[output application/java
---
{
	"c" : vars.shake
}]]]></http:query-params>
				</http:request>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Menu" doc:id="1c7077e4-dd65-47b6-ad61-3e38e3adb895" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload."0".payload.drinks[1].strDrink ++
 ", " ++ payload."1".payload.drinks[6].strDrink ++ 
 "," ++ payload."2".payload.drinks[3].strDrink]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1ab95b3a-4f35-40a1-9a8b-43b2ecc369da" />
	</flow>
	<sub-flow name="fiveCategoryCocktails" doc:id="7ced9d43-a9e2-4176-92e7-7fefb155455c" >
		<set-variable value="#[message.attributes.queryParams.category]" doc:name="category" doc:id="a025f58c-591c-4111-9cf9-b92d78f19351" variableName="category" />
		<validation:is-not-null doc:name="Is not null vars category" doc:id="ff7df086-fc9d-4ffe-9284-ebe0e450ef49" value="#[vars.category]" message='${validation.checkQueryCategory}'>
			<error-mapping sourceType="VALIDATION:NULL" targetType="APP:CATEGORYNULL" />
		</validation:is-not-null>
		<http:request method="GET" doc:name="GET /CocktailsbyCategory" doc:id="6d220a33-3d70-490e-8647-2fd51bf15c79" config-ref="HTTP_Request_drinks_configuration" path="/filter.php" >
			<http:query-params ><![CDATA[#[output application/java
---
{
	"c" : vars.category
}]]]></http:query-params>
		</http:request>
		<choice doc:name="Choice" doc:id="07655827-17bb-4155-a32d-666a6640343d" >
			<when expression='#[vars.category == "Cocktail"]'>
				<logger level="INFO" doc:name="Logger" doc:id="26e7d9bb-19af-46ea-a53d-7b10abdcfbaf" />
				<set-variable value='#["Seafood"]' doc:name="seafood" doc:id="6de4e311-3e03-49ba-96ae-d64551bf35af" variableName="seafood"/>
				<set-payload value="#[vars.seafood]" doc:name="varsSeafood" doc:id="446350b2-e96c-41b0-82f5-ea1d28100dc9" />
				<http:request method="GET" doc:name="GET /Seafood" doc:id="a1949be7-9ce2-422f-b157-65800abe758e" config-ref="HTTP_Request_food_configuration" path="/filter.php">
					<http:query-params ><![CDATA[#[output application/java
---
{
	"c" : vars.Seafood
}]]]></http:query-params>
				</http:request>
				<ee:transform doc:name="payload" doc:id="24c34b32-667a-4638-9cc2-c9447ba45822" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[vars.category == "Coffee / Tea"]'>
				<logger level="INFO" doc:name="Logger" doc:id="c41808c1-74d4-41a9-afc3-68d241e8a5d9" />
				<set-variable value='#["Dessert"]' doc:name="dessert" doc:id="78a966c9-f290-4074-b54d-a1dde43c6a24" variableName="dessert"/>
				<set-payload value="#[vars.dessert]" doc:name="varsDessert" doc:id="fa3e86cb-ac94-4380-bb75-cbae751c6da3" />
				<http:request method="GET" doc:name="GET /Dessert" doc:id="f6584916-d5c7-4f25-880e-518cfadfcb98" config-ref="HTTP_Request_food_configuration" path="/filter.php">
					<http:query-params ><![CDATA[#[output application/java
---
{
	"c" : vars.dessert
}]]]></http:query-params>
				</http:request>
				<ee:transform doc:name="payload" doc:id="008a2d38-56f1-4200-a613-44a8c2c09f64">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
					<ee:variables >
					</ee:variables>
				</ee:transform>
			</when>
			<when expression='#[vars.category == "Shot"]'>
				<logger level="INFO" doc:name="Logger" doc:id="ffbcd3cf-61a7-4dda-8d72-04800384960f" />
				<set-variable value='#["Beef"]' doc:name="beef" doc:id="a74b0cc9-f4a0-498a-9077-30f02e61496b" variableName="beef" />
				<set-payload value="#[vars.beef]" doc:name="varsBeef" doc:id="aa2ce0d3-889e-4d5b-a812-8754c942dcc2" />
				<http:request method="GET" doc:name="GET /Beef" doc:id="e143a29a-0c66-4363-937b-b26661c0a5b8" config-ref="HTTP_Request_food_configuration" path="/filter.php" >
					<http:query-params ><![CDATA[#[output application/java
---
{
	"c" : vars.beef
}]]]></http:query-params>
				</http:request>
				<ee:transform doc:name="payload" doc:id="30538a5c-61db-4992-9fbc-8c89043dd290" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
					<ee:variables />
				</ee:transform>
			</when>
			<when expression='#[vars.category == "Beer"]'>
				<logger level="INFO" doc:name="Logger" doc:id="664c974c-ef6e-47a7-abbc-38bc3f13d4db" />
				<set-variable value='#["Starter"]' doc:name="starter" doc:id="4b7d186c-8f5f-43f1-bfd5-c8fedc25781c" variableName="starter" />
				<set-payload value="#[vars.starter]" doc:name="varsStarter" doc:id="2a22fcce-26b5-4938-8f6f-38b60169df8f" />
				<http:request method="GET" doc:name="GET /Starter" doc:id="d5ca6f58-54c0-45ab-b175-9103e4ba94ef" config-ref="HTTP_Request_food_configuration" path="/filter.php" >
					<http:query-params ><![CDATA[#[output application/java
---
{
	"c" : vars.starter
}]]]></http:query-params>
				</http:request>
				<ee:transform doc:name="payload" doc:id="ec8c7c40-7f15-481f-8e5d-1d424e7e7112" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
					<ee:variables />
				</ee:transform>
			</when>
			<when expression='#[vars.category == "Ordinary Drink"]'>
				<logger level="INFO" doc:name="Logger" doc:id="db82ab10-f7de-4a1a-bd19-88b156534fe2" />
				<set-variable value='#["Vegetarian"]' doc:name="vegetarian" doc:id="483f1aca-429b-44bf-8ed5-fe46b91d4d78" variableName="vegetarian" />
				<set-payload value="#[vars.vegetarian]" doc:name="varsVegetarian" doc:id="4fdb9084-d663-4de7-950e-520d4d2e44a5" />
				<http:request method="GET" doc:name="GET /Vegetarian" doc:id="7e0c9be4-7f31-4d68-bffc-608baf743d09" config-ref="HTTP_Request_food_configuration" path="/filter.php" >
					<http:query-params ><![CDATA[#[output application/java
---
{
	"c" : vars.vegetarian
}]]]></http:query-params>
				</http:request>
				<ee:transform doc:name="payload" doc:id="6fb56819-2fe3-4285-bde2-6f449dd798b2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
					<ee:variables />
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="03cf04b9-9cbf-4745-8962-67393982fc59" />
				<validation:is-true doc:name="Is true" doc:id="671f4a90-2dcb-49d8-8a79-33b36755c884" expression='#[["Other/Unknown", "Cocoa", "Shake", "Homemade Liqueur", "Punch / Party Drink", "Soft Drink"]contains vars.category]' message='#["Good choice. Enjoy your cocktail"]'/>
				<http:request method="GET" doc:name="GET /cocktailsByCategory" doc:id="a3bfa2ea-901a-4bd9-b5aa-53ffe8bd708f" config-ref="HTTP_Request_drinks_configuration" path="/filter.php">
					<http:query-params ><![CDATA[#[output application/java
---
{
	"c" : vars.category
}]]]></http:query-params>
				</http:request>
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="listOfAllCocktails" doc:id="8b8a26e7-e204-4782-b08a-edcbb40a4c32" >
		<logger level="INFO" doc:name="Logger" doc:id="ef72f982-c5c2-4397-b1a4-767c361417b5" />
		<set-variable value='#[["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"]]' doc:name="alfabet(A-Z)" doc:id="42174e90-4805-4422-aa56-16babf86b8fd" variableName="AZ" />
		<set-variable value="#[[]]" doc:name="varsLetter" doc:id="8677bdb2-399c-4e3d-9ef4-cd45f0f410cd" variableName="varsLetter" />
		<foreach doc:name="For Each Alfabet" doc:id="c6c05d44-0898-462d-9ab0-dcbf2928e5e5" collection="#[vars.AZ]" >
			<logger level="INFO" doc:name="Logger" doc:id="530f62e8-3eac-45ab-9c9d-5210e3924813" />
			<http:request method="GET" doc:name="GET /listCocktails" doc:id="f0882197-2646-45db-9dfe-7fc85e00cb5e" config-ref="HTTP_Request_drinks_configuration" path="/search.php" >
				<http:query-params ><![CDATA[#[output application/java
---
{
	"f" : payload
}]]]></http:query-params>
			</http:request>
			<ee:transform doc:name="payload" doc:id="4294d8d0-fb45-4fee-9a7a-23cdda93cc85" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0 
output application/json 
--- 
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="varsLetter" ><![CDATA[%dw 2.0
output application/java
---
vars.varsLetter + payload]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<ee:transform doc:name="varsletter" doc:id="fcb7f0f6-5145-42f2-9220-bfd6c740becb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.varsLetter]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="collectInOneList" doc:id="8402364c-c541-4ae4-8ef7-057a11a2f346" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(payload.drinks)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0adceb81-71a7-4e32-bc29-25964bea8dc1" />
	</sub-flow>
	<sub-flow name="listOfCategory" doc:id="a944583f-72bf-4f45-8912-d5ad47759d9a" >
		<set-variable value="#[message.attributes.queryParams.list]" doc:name="list" doc:id="9d5ec55a-0041-428f-8058-c1f20afccd1f" variableName="list"/>
		<http:request method="GET" doc:name="GET /listOfCategory" doc:id="03508da4-372c-4f5e-8d7d-5916254e1178" config-ref="HTTP_Request_drinks_configuration" path="/list.php">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"c" : vars.list
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="listOfAllCategory" doc:id="0e52e233-304f-4b0d-b07e-5a4b3558b2fd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
flatten(payload.drinks.strCategory)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="03e10803-5c48-4bf4-acda-a54806318dd2" />
	</sub-flow>
	<flow name="randomDrinkArray" doc:id="76367982-1748-4761-955e-0d894789717b" >
		<logger level="INFO" doc:name="Logger" doc:id="8e769826-ca88-493f-8ca8-13328b6f86e6" />
		<set-variable value="" doc:name="emptyPayload" doc:id="199241df-6342-48bb-9fc6-f1934c3287aa" variableName="emptyPayload"/>
		<choice doc:name="Choice" doc:id="69e8eee9-f1cc-4c86-93fa-8605023cbb2b" >
			<when expression="#[isEmpty (payload)]">
				<set-variable value="#[[]]" doc:name="array" doc:id="f345b23a-227d-4090-82a8-92cd7190a61c" variableName="array" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="15c39998-f5a3-4893-872b-3f9e9a14a7b2" />
			</otherwise>
		</choice>
		<http:request method="GET" doc:name="GET /randomCocktail" doc:id="0736db17-1b8c-4d78-9828-bf76d367b5f8" config-ref="HTTP_Request_drinks_configuration" path="/random.php"/>
		<ee:transform doc:name="data to JSON" doc:id="c4a3aa36-9e88-4720-943d-5150c04f58d2">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
fun findKey(key)
= key match {
  case is String -> key
  else -> "null"
}
---
drinks: payload.drinks map ( drink , indexOfDrink ) -> {
		"idDrink": drink.idDrink,
		"name": drink.strDrink,
		"DrinkAlternate": drink.strDrinkAlternate,
		"Tags": drink.strTags,
		"Video": drink.strVideo,
		"Category": drink.strCategory,
		"IBA": drink.strIBA,
		"Alcoholic": drink.strAlcoholic,
		"Glass": drink.strGlass,
		"Instructions": drink.strInstructions,
		"Recipe": {
			(findKey(drink.strIngredient1)): drink.strMeasure1,
			(findKey(drink.strIngredient2)): drink.strMeasure2,
			(findKey(drink.strIngredient3)): drink.strMeasure3,	
			(findKey(drink.strIngredient4)): drink.strMeasure4,
			(findKey(drink.strIngredient5)): drink.strMeasure5,
			(findKey(drink.strIngredient6)): drink.strMeasure6,	
			(findKey(drink.strIngredient7)): drink.strMeasure7
		},
		"ImageSource": drink.strImageSource,
		"ImageAttribution": drink.strImageAttribution,
		"CreativeCommonsConfirmed": drink.strCreativeCommonsConfirmed
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="payload + varsArray" doc:id="4f11e595-34ad-4bdc-b4d0-63662598c122" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="array" ><![CDATA[%dw 2.0
output application/java
---
vars.array + payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="varsArray" doc:id="e4b2ce80-298c-4e8b-b2c6-0f9473cb3eeb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.array]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4269c2de-33a5-4bb3-ac0a-58e9c806e0ba" />
		<choice doc:name="Choice" doc:id="1620339a-896b-4688-a9cd-f4911f30bf30" >
			<when expression="#[sizeOf(payload) &lt; 3]">
				<validation:is-true doc:name="If size of payload less then three" doc:id="1b2010fc-225d-4709-a0ae-cd4a084f73cd" expression="#[sizeOf(payload) &lt; 3]" message='${validation.ifTrueSizeOfVars}'>
					<error-mapping sourceType="STREAM_MAXIMUM_SIZE_EXCEEDED" targetType="APP:PAYLOADSIZE" />
				</validation:is-true>
				<flow-ref doc:name="randomDrinkArray" doc:id="0497b2b3-498e-4b57-bde4-e7d8671643c3" name="randomDrinkArray"/>
			</when>
			<when expression="#[sizeOf(payload) == 3]">
				<logger level="INFO" doc:name="Logger" doc:id="c14f322d-3df5-44bf-adbe-170ef4241bfa" />
				<choice doc:name="Choice" doc:id="21075ae8-30a4-4d5c-aea6-859e22437bb5" >
					<when expression="#[payload.drinks[0].Category == payload.drinks[1].Category]">
						<logger level="INFO" doc:name="Logger" doc:id="a93ffca8-1018-46f0-85aa-e34d6126a6e0" />
						<ee:transform doc:name="emptyPayload" doc:id="7e666561-85ff-40d4-999e-f3fd957f40b9" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.emptyPayload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<flow-ref doc:name="randomDrinkArray" doc:id="eaf23059-361f-4fbd-a297-7e1b456fca47" name="randomDrinkArray"/>
					</when>
					<when expression="#[payload.drinks[0].Category == payload.drinks[2].Category]">
						<logger level="INFO" doc:name="Logger" doc:id="87f6de56-99ee-4d0e-a224-c242e6e07d3b" />
						<ee:transform doc:name="emptyPayload" doc:id="f766e524-28b6-4831-a8f6-bb79f3129d6f" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.emptyPayload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<flow-ref doc:name="randomDrinkArray" doc:id="338bdb53-31e9-4cbc-ab44-b86d2b24c6cb" name="randomDrinkArray" />
					</when>
					<when expression="#[payload.drinks[1].Category == payload.drinks[2].Category]">
						<logger level="INFO" doc:name="Logger" doc:id="be684a28-6f6a-4500-a616-048557034332" />
						<ee:transform doc:name="emptyPayload" doc:id="1e978dfb-d6b2-4195-a037-5d51aabca2d2" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.emptyPayload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<flow-ref doc:name="randomDrinkArray" doc:id="9076dea7-4d34-4edb-ad08-ee070a3ec5d2" name="randomDrinkArray" />
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="95435599-8cce-46a3-9fde-4a7618aa46f4" />
						<ee:transform doc:name="payload" doc:id="589e57ff-9695-4656-8c4d-f8c24374e961" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload	]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="a104bab5-e58f-451f-a5d6-6a77bee8ef8d" />
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="listOfIngredient" doc:id="7816ef9e-a5e2-4500-badb-fd7a5121d567" >
		<set-variable value="#[message.attributes.queryParams.listIngred]" doc:name="listIngred" doc:id="9b7464c4-c389-480a-92c8-0d4c58b0ebcc" variableName="listIngred"/>
		<http:request method="GET" doc:name="GET /listOfIngredient" doc:id="1cda5948-9ab4-43a4-895f-6edc189a6fe6" config-ref="HTTP_Request_drinks_configuration" path="/list.php">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"i" : vars.listIngred
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="listOfAllIngredient" doc:id="235c2938-0ed3-45bf-9db6-b4935e905cf5">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
flatten(payload.drinks.strIngredient1)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="eb42ae1e-978f-4c4f-9e60-744178c61720" />
	</sub-flow>
	<sub-flow name="searchByIngredient" doc:id="f77ad222-5cbf-4213-ba1e-4ee95ada0691" >
		<set-variable value="#[message.attributes.queryParams.ingredient]" doc:name="ingredient" doc:id="5342b1c4-ddae-463a-a741-c932162dec5f" variableName="ingredient" />
		<validation:is-not-null doc:name="Is not null vars ingridient" doc:id="82189705-7e46-4fbd-a500-c40f7a039425" value="#[vars.ingredient]" message='${validation.checkQueryIngredient}'>
			<error-mapping sourceType="VALIDATION:NULL" targetType="APP:INGREDIENTNOTNULL" />
		</validation:is-not-null>
		<http:request method="GET" doc:name="GET /ingredient" doc:id="59cd0483-9411-41b5-82ce-c7665ae39018" config-ref="HTTP_Request_drinks_configuration" path="/filter.php" >
			<http:query-params ><![CDATA[#[output application/java
---
{
	"i" : vars.ingredient
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="d1ec4a06-0dd8-49e9-94db-7a3c17cd1951" />
	</sub-flow>
	<sub-flow name="recipe" doc:id="4031a47f-146f-485c-97fa-6672d3e36cc4" >
		<set-variable value="#[message.attributes.queryParams.cocktailName]" doc:name="cocktailName" doc:id="e2d56a53-a9d5-4013-9453-39ce9bffe11b" variableName="cocktailName"/>
		<validation:is-not-null doc:name="Is not null vars cocktailName" doc:id="fa1c7824-98a7-42ba-a161-c8b03940cd17" value="#[vars.cocktailName]" message='${validation.checkRecipe}'>
			<error-mapping sourceType="VALIDATION:NULL" targetType="APP:COCTAILNAMENOTNULL" />
		</validation:is-not-null>
		<http:request method="GET" doc:name="GET /recipeCocktail" doc:id="c7cb7beb-a04c-452b-9f39-8da21fff704d" config-ref="HTTP_Request_drinks_configuration" path="/search.php">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"s" : vars.cocktailName
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="d333e9b7-cc02-471f-9aad-811807bcadd0" />
		<ee:transform doc:name="payload" doc:id="280ae952-20b5-44ea-b9fa-845c639afce7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="recipeProportions" doc:id="c3ea32d2-5a44-4fb1-a04d-d9eb3b2004b9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
fun findKey(key)
= key match {
  case is String -> key
  else -> "null"
}
---
drinks: payload.drinks map ( drink , indexOfDrink ) -> {
		"name": drink.strDrink,
		"Recipe": {
			(findKey(drink.strIngredient1)): drink.strMeasure1,
			(findKey(drink.strIngredient2)): drink.strMeasure2,
			(findKey(drink.strIngredient3)): drink.strMeasure3,	
			(findKey(drink.strIngredient4)): drink.strMeasure4,
			(findKey(drink.strIngredient5)): drink.strMeasure5,
			(findKey(drink.strIngredient6)): drink.strMeasure6,	
			(findKey(drink.strIngredient7)): drink.strMeasure7
		}
		
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="logger" doc:id="fb6ffa0d-13b7-4559-8355-dcbd2ebd1856" />
	</sub-flow>

</mule>
