FoodDrinks/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:telegram="http://www.mulesoft.org/schema/mule/telegram"
	xmlns:slack="http://www.mulesoft.org/schema/mule/slack" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/slack http://www.mulesoft.org/schema/mule/slack/current/mule-slack.xsd
http://www.mulesoft.org/schema/mule/telegram http://www.mulesoft.org/schema/mule/telegram/current/mule-telegram.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="implementationFlow" doc:id="62f7a9aa-b497-4414-8b07-8d7bfe3106b3" >
		<http:listener doc:name="Listener" doc:id="af740e51-308b-4a32-9494-e033916b5854" config-ref="HTTP_Listener_config" path="/test"/>
		<telegram:get-updates doc:name="Get Updates" doc:id="41503d10-a5e0-4dd1-a5e7-e3f4bdbadab2" config-ref="Telegram_Connector_Config" offset="#[3695644]" limit="#[3]"/>
		<ee:transform doc:name="Transform Message" doc:id="4d8ccb63-be4e-4e61-9581-dac556babbd3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="implementationFlow1" doc:id="679390cf-950f-4b59-b0a1-76ff550c4302" >
		<http:listener doc:name="Listener" doc:id="0cdc0d85-2623-4687-8fd8-7c46eb05c69e" config-ref="HTTP_Listener_config" path="/test1"/>
		<file:read doc:id="d0908f9f-7809-49e4-8aa4-27a716c72c4a" path="d:/AnypointStudio/1.jpg" doc:name="Read" />
		<ee:transform doc:name="Transform Message" doc:id="273dd91a-aa66-4302-886f-6f7a46f202ba" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output multipart/form-data
---
{
  parts: {
    photo: {
      headers: {
        "Content-Disposition": {
          name: "photo",
          filename: "1.jpg",
          subtype: "form-data"
        },
        "Content-Type": "image/jpeg"
      },
      content: payload    	
    },
    chat_id: {
    	headers: {
        "Content-Disposition": {
          name: "chat_id",
          subtype: "form-data"
        }
      },              
      content : 798006120
    }
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="edbf457e-0728-42b7-8b48-dc95e1aeaba4" url="https://api.telegram.org/bot5563335015:AAHEZ49NA1faZXK8awvppOYKP_oYaT_tTgc/sendPhoto"/>
	</flow>
	<flow name="Copy_of_implementationFlow" doc:id="06811bc1-3bdd-4116-99f2-41dd7828fd0f" >
		<http:listener doc:name="Copy_of_Listener" doc:id="45ae414c-cc61-42e3-8d94-9fc66ef8d6ac" config-ref="HTTP_Listener_config" path="/test2" />
		<telegram:send-photo doc:name="Copy_of_Send photo message" doc:id="325113eb-b600-4c30-b6de-0705ed1a66a4" config-ref="Telegram_Connector_Config" >
			<telegram:send-photo-message-request-content ><![CDATA[#[%dw 2.0
output application/json
---
{
	chat_id: "798006120",
	photo: "https://www.balldontlie.io/images/cryingjordan.jpeg"
}]]]></telegram:send-photo-message-request-content>
		</telegram:send-photo>
	</flow>
	<flow name="implementationFlow2" doc:id="0ac3be9b-99bc-4467-aa0c-f4f0df06d27e" >
		<http:listener doc:name="Listener" doc:id="bfef3481-32af-448d-a01e-b3cafe23290c" config-ref="HTTP_Listener_config" path="/test3"/>
		<telegram:send-message doc:name="Send text message" doc:id="34da44d3-bd0e-44ab-a41a-820d4e04d77c" config-ref="Telegram_Connector_Config">
			<telegram:send-text-message-request-content ><![CDATA[#[%dw 2.0
output application/json
---
{
	chat_id: "798006120",
	text: "Hi"
}]]]></telegram:send-text-message-request-content>
		</telegram:send-message>
	</flow>
	<flow name="implementationFlow3" doc:id="a0de6d75-6693-4954-a9a9-6871569e6ba9" >
		<http:listener doc:name="Listener" doc:id="01b4a18f-e8f3-4b6a-b4f7-fdca103de7b4" config-ref="HTTP_Listener_config" path="/test4"/>
		<ee:transform doc:name="Transform Message" doc:id="5e10c06c-2d79-4692-867a-596293bf6d65" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/dw
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
