FoodDrinks/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="cocktailsandfood-api-config" api="cocktailsandfood-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="cocktailsandfood-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="cocktailsandfood-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="cocktailsandfood-api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="cocktailsandfood-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\allMeals:cocktailsandfood-api-config">
        <flow-ref doc:name="categoryList" doc:id="de9f3245-454e-47dd-8100-2a1b4361424e" name="CategoryList" />
    </flow>
    <flow name="get:\cocktailsName:cocktailsandfood-api-config">
        <flow-ref doc:name="searchCocktailsByName" doc:id="ce59c3b6-c8ba-41c4-a531-98ebc17f8eee" name="searchCocktailsByName" />
    </flow>
    <flow name="get:\filterFoodByTypeAndIngridient:cocktailsandfood-api-config">
        <flow-ref doc:name="filter_food" doc:id="e4437b85-6563-45b0-b57f-911abddc79b4" name="Filter_food" />
    </flow>
    <flow name="get:\fiveCategory:cocktailsandfood-api-config">
        <flow-ref doc:name="fiveCategoryCocktails" doc:id="3e3883a2-1b61-4ac9-b071-ba698cb55638" name="fiveCategoryCocktails" />
        <error-handler ref="VALIDATION_FIVE_CATEGORY" />
    </flow>
    <flow name="get:\foodByCategory:cocktailsandfood-api-config">
        <flow-ref doc:name="MenuByCategories" doc:id="185df988-8b35-4c8a-9de9-f9dfdb4564c1" name="MenuByCategories" />
    </flow>
    <flow name="get:\foodName:cocktailsandfood-api-config">
        <flow-ref doc:name="searchFoodByName" doc:id="8b9a2584-cbd0-4752-b272-cdd360c02ae4" name="searchFoodByName" />
    </flow>
    <flow name="get:\listOfCategory:cocktailsandfood-api-config">
        <flow-ref doc:name="listOfCategoryCoctails" doc:id="19230195-4e23-4d4a-ba28-6dc1e8181c74" name="listOfCategory" />
    </flow>
    <flow name="get:\listOfCocktails:cocktailsandfood-api-config">
        <flow-ref doc:name="listOfAllCocktails" doc:id="00369a3b-fc58-485f-adcb-6d4216d743d7" name="listOfAllCocktails" />
    </flow>
    <flow name="get:\randomThree:cocktailsandfood-api-config">
        <flow-ref doc:name="randomDrinkArrayCocktails" doc:id="5a2a4c2b-cd9a-41c3-be5b-e0e66358096e" name="randomDrinkArray" />
        <error-handler ref="VALIDATION_RANDOM_FLOW_ARRAY" />
    </flow>
    <flow name="get:\recipe:cocktailsandfood-api-config">
        <flow-ref doc:name="recipeCocktails" doc:id="8c235a37-4b7e-4e64-b77a-b0e1f85a077c" name="recipe" />
        <error-handler ref="VALIDATION_RECIPE" />
    </flow>
    <flow name="get:\dailyMenu:cocktailsandfood-api-config">
        <flow-ref doc:name="dailyMenu" doc:id="07ca8d3a-6708-4b2c-b091-405f00ef6a9a" name="dailyMenu" />
        <error-handler ref="VALIDATION_DAYLIMENU" />
    </flow>
    <flow name="get:\theBestCoctail:cocktailsandfood-api-config">
		<flow-ref doc:name="theBestCocktails" doc:id="530a600e-f21f-4e77-848f-e79d1fec5ca4" name="theBestCocktails"/>
		<error-handler ref="VALIDATION_THE_BEST_COCKTAILS" />
    </flow>
</mule>
