apdev-examples/src/main/mule/accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="getSFDCaccounts" doc:id="60a04a22-7f92-41d4-87d7-291107bbdebd" >
		<http:listener doc:name="GET /sfdc" doc:id="f49a519e-1f71-4834-8aa3-9597b02e56d8" config-ref="HTTP_Listener_config" path="/sfdc "/>
		<salesforce:query doc:name="Account" doc:id="b0e7f51a-5627-4539-aafe-bc6324adb47e" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Name, LastModifiedDate, BillingPostalCode
FROM Account]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="fad5511d-34f6-45c6-a332-4b72ab8afcb9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getCSVaccounts" doc:id="957a5f4d-4c37-4ac8-b3e5-88a3d17846a2" >
		<file:listener doc:name="accounts.csv" doc:id="0e0945cb-39ed-4d2b-93ed-3041cbe4c004" config-ref="File_Config" directory="input" moveToDirectory="output" renameTo='#[attributes.fileName ++ ".backup"]'>
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="78ebc234-f4b0-448f-84f1-75eef5afc90f" message="#[payload]"/>
	</flow>
	<flow name="syncDBaccountsToCSV" doc:id="fbd313b7-1693-4434-83e8-8ff3bf84b18e" initialState="stopped">
		<db:listener doc:name="accounts" doc:id="6bd71315-288c-4914-954a-9d24d8c55662" config-ref="Database_Config" table="accounts" watermarkColumn="accountID" idColumn="accountID">
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</db:listener>
		<ee:transform doc:name="Java to CSV" doc:id="570e92cc-aa08-4034-91d3-ac0243eba9c3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header=false
---
[payload]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="DBaccounts.csv" doc:id="2a6beca8-0917-41ec-b998-6507e4e6cf73" config-ref="File_Config" path="output/DBaccounts.csv" mode="APPEND"/>
		<logger level="INFO" doc:name="payload" doc:id="ec7610d1-273e-4754-960a-51aa71930fe4" message="#[payload]"/>
	</flow>
	<flow name="syncDBaccountsWithPostal" doc:id="1cabb115-518c-4b8c-9352-07124c619544">
		<scheduler doc:name="" doc:id="b6dfd597-7f86-494d-ba34-0f707bd38f39" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="lastAccountID" doc:id="c3970d10-0302-455a-a038-c6e380c20505" key="lastAccountID" target="lastAccountID">
			<os:default-value ><![CDATA[0]]></os:default-value>
		</os:retrieve>
		<db:select doc:name="accounts" doc:id="71385c53-c39a-47d3-8289-b70274646ef5" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM accounts WHERE postal = :postal AND accountID > :lastAccountID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{postal: '13963', lastAccountID: vars.lastAccountID}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="c4111ecc-81e4-4242-a44e-fd7209dca7f3" >
			<when expression="#[not isEmpty(payload)]">
				<os:store doc:name="lastAccountID" doc:id="34f1b18d-87bc-475c-a34e-b4bcd8405000" key="lastAccountID">
			<os:value><![CDATA[#[max(payload.*accountID)]]]></os:value>
		</os:store>
				<file:write doc:name="DBaccountsPostal.csv" doc:id="1f47a8b6-928d-41ec-88d7-9309990de918" config-ref="File_Config" path="output/DBaccountsPostal.csv" mode="APPEND">
			<file:content><![CDATA[#[output application/csv header=false 
---
payload]]]></file:content>
		</file:write>
				<jms:publish doc:name="JMS accountsQ" doc:id="bc106d3a-7ebb-4fbc-9b85-97b165007a78" config-ref="JMS_Config" destination="accountsQ">
					<jms:message >
						<jms:body ><![CDATA[#[output application/json 
---
payload]]]></jms:body>
						<jms:properties ><![CDATA[#[{"publisher":"training"}]]]></jms:properties>
					</jms:message>
				</jms:publish>
				<logger level="INFO" doc:name="CSV payload" doc:id="d28896c2-bc5f-46cd-8f45-987da82bd4dd" message="#[output application/csv &#10;---&#10;payload]" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="No new records" doc:id="a64f7834-3609-40ac-8986-5932fba0eafb" />
			</otherwise>
		</choice>
	</flow>
	<flow name="recieveJMSMessages" doc:id="575fbf74-fd27-49af-99a2-7d7252f1b317" >
		<jms:listener doc:name="JMS accountsQ" doc:id="004c51c7-6c58-41b3-a3ec-120b61a79e1b" config-ref="JMS_Config" destination="accountsQ">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="INFO" doc:name="payload" doc:id="3a949501-2f77-4a9c-8b84-d8d8fe5d625f" message="#[payload]"/>
	</flow>
</mule>
