apdev-examples/src/main/mule/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	
	<flow name="helloFlow" doc:id="6cc17994-b31e-4a98-b648-01c0c4e91078" >
		<http:listener doc:name="GET /hello" doc:id="feb86769-6184-458a-ac6d-e4fb98a654b2" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : vars.firstName
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="subflow" doc:id="576a5dc7-e4fe-4fb8-9956-6d1bc6dd2ce2" name="apdev-examplesSub_Flow"/>
		<vm:publish queueName="goodbye" doc:name="VM goodbye" doc:id="dafa61f8-62ba-4513-bb21-cd1159072997" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="payload" doc:id="0aeb925b-9a1f-437c-b01b-4ef4b410a4ee" message="#['\nMessage: ' ++ payload]"/>
	</flow>
	<flow name="privateFlow" doc:id="4194991a-78bb-4ea8-a708-badb976c0a2f">
		<http:request method="GET" doc:name="GET /goodbye" doc:id="d7c62442-e44f-4cc4-8df6-554cc8048abf" config-ref="HTTP_Request_configuration" path="/goodbye">
			<http:query-params><![CDATA[#[output application/java
---
{
	"fullName" : attributes.queryParams.fname
}]]]></http:query-params>
		</http:request>
	</flow>
	<sub-flow name="apdev-examplesSub_Flow" doc:id="55d5e54a-8193-4caf-8ffc-e23e333c20b9" >
		<set-variable value="#[message.attributes.queryParams.fname]" doc:name="firstName" doc:id="0fa5b511-12c4-454d-a9d8-e945a5b588dd" variableName="firstName" />
		<set-payload value="Hello" doc:name="Hello" doc:id="9364a95b-2bd1-4036-9dec-614cb84cab89" />
	</sub-flow>
	<flow name="goodbyeFlow" doc:id="578ae5c5-7df0-46e7-bde9-dff48d78113f" >
		<vm:listener queueName="goodbye" doc:name="VM goodbye" doc:id="baaecb1e-fc3e-4e29-832c-c21c22643d0b" config-ref="VM_Config"/>
		<set-payload value="#[upper('Goodbye') ++ ' ' ++ (attributes.queryParams.fullName default 'Maxine')]" doc:name="Goodbye" doc:id="e5d5206a-eb67-4272-a145-ed3e061370b4" />
		<logger level="INFO" doc:name="fullName" doc:id="bcf44017-620b-4e48-880f-92b494bec94c" message="#[attributes.queryParams.fullName]"/>
	</flow>
</mule>
